<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/templates/head.ejs %>
</head>
<body>
    <div id="react"></div>
</body>
<% include ./partials/templates/jsDefaults.ejs %>
</html>
